<div class="container">
    <div class="section-container">
        <div class="type">Applications</div>
        <div id="applications" class="section">
            <div class="wrapper">

                <div class="wrap-item">
                    
                    <div class="title">
                        Microcare <span class="date">April 2021</span>
                    </div>
                    <div class="description">
                        MVP of a web app that tracks your daily intake of nutrients such as minerals or vitamins
                    </div>
                    <div class="pic-container">
                        <div class="picture">
                            <img src="assets/img/microcare.png" alt="Microcare" >
                        </div>
                        <div class="links">
                            <a href="https://microcare-online.herokuapp.com" title="github" target="_blank"  rel="noopener"  class="icon">Link to app</a>
                            <a href="https://github.com/molibdy/microcareOnline" title="github" target="_blank"  rel="noopener" class="icon"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    
                </div>

              
    
            </div>
    
        </div>
    </div>
</div>