
<div class="container">
    <div class="content">
        <div class="picture">
            <img src="assets/img/Isabel_picture.png" alt="Isabel">
        </div>
        <div class="info-container">
            <div class="title">Isabel Sarmiento de Sotomayor</div>
            <div class="subtitle">Full-Stack Developer</div>
        </div>
    </div>
    <div class="links">

        <a href="https://www.linkedin.com/in/isabel-sarmiento-de-sotomayor/" target="_blank"  rel="noopener" title="linkedin"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/molibdy" title="github" target="_blank"  rel="noopener" ><i class="fab fa-github"></i></a>
        <a href="mailto:isabelsdesoto@gmail.com" title="email" target="_blank"  rel="noopener" > <i class="fas fa-envelope"></i></a>
    </div>
    
</div>