
<div class="container">
    <div class="content">
        <div class="picture">
            <img src="https://avatars.githubusercontent.com/u/79087708?s=400&u=64acad66ff2f482d89c3280f093a2b8cd1abd28b&v=4" alt="Isabel">
        </div>
        <div class="info-container">
            <div class="title">Isabel Sarmiento de Sotomayor</div>
            <div class="subtitle">Full-Stack Developer</div>
        </div>
    </div>
    <div class="links">
        <div routerLink="../portfolio">Portfolio</div>
        <div routerLink="../resume">Resume</div>
        <div routerLink="../contact">Contact</div>
        <div routerLink="../about">About me</div>
    </div>

</div>