$color-main: rgb(189, 175, 226) ;
$color-text:rgb(64, 18, 124) ;
$color-hover:rgb(25, 3, 54) ;
$color-icon: rgb(64, 18, 124) ;
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

@mixin row($justify){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}

@mixin col($justify, $align){
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}

.text{
    font-family: $font;
    color: $color-text;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.text:hover{
    color: $color-hover;
    scale: 1.1;
}

.icon{
    color: $color-icon;
    font-size: 50px;
    cursor: pointer;
}
.icon:hover{
    color: $color-hover;
    scale: 1.1;
}


.content{
    @include row(center);
    height: 60vh;
}

.picture{
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 20px;
    img{
        width: 200px;
        height: auto;
    }
}

.info-container{
    @include col(center,center);
    font-family: $font;
    color: $color-text;
    .title{
        font-size: 35px;
        font-weight: 600;
    }
    .subtitle{
        font-size: 30px;
    }
}

.links{
    @include row(space-evenly);
    width: 60%;
    a{
        @extend .icon;
    }
}