<div class="container">
    <div class="section-container">
        <div class="type">Experience</div>
        <div id="experience" class="section">
            <div class="wrapper">

                <div class="wrap-item">
                    
                    <div class="title">
                        Web App Developer 
                    </div>
                    <div class="place">
                        Ahorramás <span class="location">(Madrid, Spain)</span><span class="date">June 2021-Present</span>
                    </div>
                    <div class="description">
                        <p>Integration of Oracle databases with MySQL databases through the development of Node.js services</p>
                    </div>
                </div>

                <div class="wrap-item">
                    
                    <div class="title">
                        Junior Full-Stack Developer 
                    </div>
                    <div class="place">
                        Codenotch <span class="location">(Madrid, Spain)</span><span class="date">February 2021-April 2021</span>
                    </div>
                    <div class="description">
                        <p>Developed the MVP of a web app using Angular and Node.js, and deployed it on Heroku.</p>
                        <p>Apart from building our database (MySQL) on AWS and creating our own RestAPI, 
                            we connected the app to the API of the U.S.D.A to obtain accurate nutritional data, 
                            since the goal of the app is to let users reach the Recommended Daily Intake of 
                            micronutrients by measuring the nutritional content of the meals they register. 
                            In order to optimize user experience the app was designed on a mobile-first approach.</p> 
                        <p>The whole app was developed in 3 weeks, during which we worked by continuous integration 
                            through gitHub, implementing Agile methodologies (SCRUM and Kanban) to guarantee the fulfillment of our goals.</p>
                    </div>
                </div>
    
                <div class="wrap-item">
                    <div class="title">
                        Video editor 
                    </div>
                    <div class="place">
                        Second Bell Projects SL <span class="location">(Madrid, Spain)</span><span class="date">April 2019-September 2020</span>
                    </div>
                    <div class="description">
                        <p>Designed the visual language and adequate rhythms to create engaging story-lines 
                            by means of music, sound effects and the interpolation of footage from different cameras.</p>
                        <p>Coordinated the production and shooting of social media ad campaigns run on 
                            Youtube channels managed by the company.</p> 
                        <p>Developed a proficient use of Final Cut Pro, Photoshop and After Effects.</p>
                    </div>
                </div>
    
                <div class="wrap-item">
                    <div class="title">
                        Administrative 
                    </div>
                    <div class="place">
                        Second Bell Projects SL <span class="location">(Madrid, Spain)</span><span class="date">April 2019-September 2020</span>
                    </div>
                    <div class="description">
                        <p>Managed creation and development of the online shop mastersoflol.com 
                            with +2500 clients and +3600 products sold in the first year. 
                            This included developing a sales plan, organizing meetings with manufacturers 
                            and distributors, supervising the website design and developing a customer service strategy.</p>
                        <p>Coordinated production and logistics of social media ad campaigns. 
                            Scheduled shootings, rented equipment, booked travel reservations when needed, etc.</p> 
                        <p>Bookkeeping of business accounts and budgeting of company’s projects. 
                            Developed monthly reports of all business expenses and revenue streams using tools such as R and Excel.</p>
                    </div>
                </div>
    
                <div class="wrap-item">
                    <div class="title">
                        Freelance jeweler 
                    </div>
                    <div class="place">
                        Moli's Place <span class="location">(Worldwide)</span><span class="date">March 2015-Present</span>
                    </div>
                    <div class="description">
                        <p>Developed an online shop with my own brand of hand-made jewellery</p>
                        <p>Designed and crafted my products inspired on birds and nature</p> 
                        <p>Managed the sales through Etsy (+100 international sales on my Etsy shop 
                            <a href="https://www.etsy.com/shop/MolisPlace" target="_blank"  rel="noopener" title="Moli's place">Moli's Place</a></p> 
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>
   
    <div class="section-container">
        <div class="type">Education</div>
        <div id="education" class="section">
            <div class="wrapper">
                <div class="wrap-item">
                    <div class="title">
                        Web development Bootcamp 
                    </div>
                    <div class="place">
                        CodeNotch <span class="location">(Madrid, Spain)</span><span class="date">February 2021-April 2021</span>
                    </div>
                    <div class="description">
                        <p>Intensive course of +500hrs where I learned the basics of full-stack web development, 
                            using Angular to work in the front-end and Node.js to work in the back-end, 
                            learning about both relational databases (MySQL) and non-relational databases (MongoDB).</p>
                        <p>I also became familiar with the use of GIT and Agile (Scrum) methodologies to optimize team work.</p> 
                        <p>As a final project I developed the MVP of a Web App that tracks the micronutrient intake of its users: 
                            <a href="https://microcare-online.herokuapp.com" target="_blank"  rel="noopener" title="Microcare">Microcare</a></p> 
                    </div>
                </div>
        
                <div class="wrap-item">
                    <div class="title">
                        Data Science nanodegree
                    </div>
                    <div class="place">
                        Udacity <span class="location">(online)</span> <span class="date">September 2019-April 2020</span>
                    </div>
                    <div class="description">
                        <p>Online course on Data Science in which I learned the basics of statistical 
                            mathematics used in the analysis of data, as well as Python and SQL languages.</p>
                    </div>
                </div>
        
                <div class="wrap-item">
                    <div class="title">
                        Master of Science (Ecology and Evolution) 
                    </div>
                    <div class="place">
                        University of Amsterdam <span class="location">(Amsterdam, The Netherlands)</span><span class="date">September 2016-July 2018</span>
                    </div>
                    <div class="description">
                        <p>Acquired analytic and data organizational skills using R.</p>
                    </div>
                </div>
                
                <div class="wrap-item">
                    <div class="title">
                        Bachelor of Biology
                    </div>
                    <div class="place">
                        Thompson Rivers University <span class="location">(Kamloops, Canada) </span> <span class="date">September 2014-May 2015</span>
                    </div>
        
                    <div class="place">
                        Universidad Autónoma de Madrid <span class="location">(Madrid, Spain) </span> <span class="date">September 2011-May 2014</span>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
</div>